body {
  background: url(./food.jpg);
	background-size: auto;
	background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

div.list{ 
	position: relative;
	left: 290px;
	border: 3px outset #73AD21;
	border-radius: 12px;
	width: 200px;
	height: 200px; 
	}
